body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #022c3c;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003344;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.productos {
  padding: 30px;
  text-align: center;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.producto {
  background-color: #014257;
  border-radius: 10px;
  width: 200px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.producto img {
  width: 100%;
  height: 230px;
  border-radius: 10px;
}

.agregar {
  margin-top: 10px;
  background-color: #007a99;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.agregar:hover {
  background-color: #00aacc;
}

.titulo-categoria {
  text-align: left;
  margin: 40px 0 10px 60px;
  font-size: 1.4em;
  border-left: 5px solid #00aacc;
  padding-left: 10px;
  color: #00d4ff;
}


.carrito {
  position: fixed;
  top: 80px;
  right: 0;
  width: 270px;
  background-color: #01313f;
  border-left: 2px solid #00aacc;
  padding: 15px;
  height: calc(100% - 100px);
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 100;
}

.carrito.oculto {
  transform: translateX(100%);
}

.carrito h2 {
  text-align: center;
  border-bottom: 1px solid #007a99;
  padding-bottom: 10px;
}

#lista-carrito {
  list-style: none;
  padding: 0;
}

#lista-carrito li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

#lista-carrito button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

#total {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}


#form-compra {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#form-compra input,
#form-compra select {
  padding: 6px;
  border: none;
  border-radius: 5px;
}

#btnFactura {
  background-color: #007a99;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

#btnFactura:hover {
  background-color: #00aacc;
}


.btn-carrito {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00aacc;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.btn-carrito:hover {
  background-color: #007a99;
}

/* Footer */
footer {
  background-color: #003344;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

footer .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer img {
  width: 60px;
  height: 60px;
}

footer p {
  font-size: 13px;
}

.copy {
  margin-top: 10px;
  border-top: 1px solid #006070;
  padding-top: 5px;
}


.btn-subir {
  position: fixed;
  bottom: 100px;            
  right: 20px;
  background-color: #00aacc;
  border: none;
  padding: 15px;
  border-radius: 150%;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 101;
  display: none;           
}

